/* only small desktops */
@media (min-width: 1024px) and (max-width: 1199px) {

    .section-heading, .section-heading2 {
        font-size: 43px;
    }    
    p {
        font-size: 18px;
    }
/* Hero section */
    .hero-content .content-info h3 {
        font-size: 28px;
    }
    .hero-content .large-text {
        font-size: 46px;
    }

    /* Participate section */
    .participate-info {
        padding-bottom: 13px;
    }
    .participate-item {
        padding: 15px;
    }
    .participate-item span h3 {
        font-size: 16px;
    }
    .participate-item span p {
        font-size: 14px;
    }
    /* Button */
    .btn {
        width: 200px;
    }
    .btn.btn-primary {
        font-size: 23px;
    }
        /* Sponsor section */
    .sponsor-item span p {
        font-size: 14px;
    }
    .sponsor-item span h3 {
        font-size: 17px;
    }

}

/* ipads */
@media (min-width: 992px) and (max-width: 1024px) {

    .section-heading, .section-heading2 {
        font-size: 40px;
    }    
    p {
        font-size: 16px;
    }
/* Hero section */
    .hero-content .content-info h3 {
        font-size: 26px;
    }
    .hero-content .large-text {
        font-size: 44px;
    }
    .hero-content .medium-text {
        font-size: 22px;
        width: 520px;
    }

 /* Track section */
    .info-item span h3 {
        font-size: 15px;
    }
    .info-item p {
        font-size: 12px;
    }

     /* Participate section */
     .participate-info {
        padding-bottom: 13px;
    }
    .participate-item {
        padding: 13px;
    }
    .participate-item span h3 {
        font-size: 15px;
    }
    .participate-item span p {
        font-size: 13px;
    }
    .participate-img {
        top: 80px;
        width: 100%;
    }
      /* Button */
      .btn {
        width: 200px;
    }
    .btn.btn-primary {
        font-size: 23px;
    }
         /* Sponsor section */
         .sponsor-item span p {
            font-size: 13px;
        }
        .sponsor-item span h3 {
            font-size: 17px;
        }
        /* Contact section */
        .contact-text p {
            font-size: 16px;
        }
  /*  Footer */
  .footer h3{
      font-size: 26px;
  }
   .footer p {
    font-size: 13px;
   }
   .footer a {
    font-size: 13px;
   }
        .footer-text p {
            font-size: 14px;
        }
}

/* tablets */
@media (max-width: 992px) {
    .section-heading, .section-heading2 {
        font-size: 38px;
    }    
    p {
        font-size: 15px;
    }
/* Hero section */
.hero-content .content-info h3 {
    font-size: 20px;
}
.hero-content .large-text {
    font-size: 42px;
    text-align: initial;
}
    .hero-content .medium-text {
        font-size: 20px;
        width: 480px;
    }
    
 /* Track section */
 .info-item span h3 {
    font-size: 14px;
}
.info-item p {
    font-size: 12px;
}

/* Participate section */
.participate-text {
    padding-bottom: 0px;
}
.participate-info {
    padding-bottom: 13px;
}
.participate-item {
    padding: 10px;
}
.participate-item span h3 {
    font-size: 13px;
}
.participate-item span p {
    font-size: 11px;
}
.participate-img {
    top: 70px;
    right: 0px;
    width: 130%;
}
  /* Button */
  .signup-button{
      padding: 10px;
  }
  .btn {
    width: 160px;
}
.btn.btn-primary {
    font-size: 20px;
}
   /* Sponsor section */
   .sponsor-item {
    margin-bottom: 60px;
    padding: 0px;
}
.sponsor-item img {
    width: 30%;
}
   .sponsor-item span p {
    font-size: 11px;
}
.sponsor-item span h3 {
    font-size: 15px;
}
  /* Contact section */
.contact-text p {
    font-size: 15px;
 }
 /* Partners section */
 #partners .partners-logo {
    padding: 50px;
 }
   /*  Footer */
   .footer h1 {
    font-size: 35px;
   }
   .footer h3{
    font-size: 22px;
}
 .footer p {
  font-size: 12px;
 }
 .footer a {
  font-size: 12px;
 }
      .footer-text p {
          font-size: 12px;
      }
      .footer .copyright, .footer .credits {
        font-size: 14px;
    }

}

/* only tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .section-heading, .section-heading2 {
        font-size: 38px;
    }    
    p {
        font-size: 15px;
    }
/* Hero section */
.hero-content .content-info h3 {
    font-size: 20px;
}
.hero-content .large-text {
    font-size: 42px;
    text-align: initial;
}
    .hero-content .medium-text {
        font-size: 20px;
        width: 480px;
    }
    
 /* Track section */
 .info-item span h3 {
    font-size: 14px;
}
.info-item p {
    font-size: 12px;
}

/* Participate section */
.participate-text {
    padding-bottom: 0px;
}
.participate-info {
    padding-bottom: 13px;
}
.participate-item {
    padding: 10px;
}
.participate-item span h3 {
    font-size: 13px;
}
.participate-item span p {
    font-size: 11px;
}
.participate-img {
    top: 70px;
    right: 0px;
    width: 130%;
}
  /* Button */
  .signup-button{
      padding: 10px;
  }
  .btn {
    width: 160px;
}
.btn.btn-primary {
    font-size: 20px;
}
   /* Sponsor section */
   .sponsor-item {
    margin-bottom: 60px;
    padding: 0px;
}
.sponsor-item img {
    width: 30%;
}
   .sponsor-item span p {
    font-size: 11px;
}
.sponsor-item span h3 {
    font-size: 15px;
}
  /* Contact section */
.contact-text p {
    font-size: 15px;
 }
 /* Partners section */
 #partners .partners-logo {
    padding: 50px;
 }
   /*  Footer */
   .footer h1 {
    font-size: 35px;
   }
   .footer h3{
    font-size: 22px;
}
 .footer p {
  font-size: 12px;
 }
 .footer a {
  font-size: 12px;
 }
      .footer-text p {
          font-size: 12px;
      }
      .footer .copyright, .footer .credits {
        font-size: 14px;
    }

}

/* small tablets and  mobiles */
@media (max-width: 767px) {
    .section-heading, .section-heading2 {
        font-size: 35px;
    }    
    p {
        font-size: 13px;
    }
/* Hero section */
.hero-content .content-info h3 {
    font-size: 18px;
}
.hero-content .large-text {
    font-size: 40px;
    text-align: initial;
}
    .hero-content .medium-text {
        font-size: 18px;
        width: 420px;
    }
     /* Track section */
 .info-item span h3 {
    font-size: 14px;
}
.info-item p {
    font-size: 12px;
 }

 /* Participate section */
.participate-text {
    padding-bottom: 0px;
}
.participate-info {
    padding-bottom: 13px;
}
.participate-item {
    padding: 10px;
}
.participate-item span h3 {
    font-size: 13px;
}
.participate-item span p {
    font-size: 11px;
}

 .participate-img {
    position: relative;
    top: 20px;
    left: 20%;
    width: 150%;
}

   /* Button */
.signup-button{
    display: none;
}
.participate-info .col-12 {
    display: block;
    }
.signup-button2{
    display:block;
}
.btn {
    width: 160px;
}
.btn.btn-primary {
    font-size: 20px;
}
   /* Sponsor section */
   .sponsor-info .item-box{
    padding: 50px;
 }
   .sponsor-item {
    margin-bottom: 60px;
    padding: 0px;
}
.sponsor-item img {
    width: 30%;
}
   .sponsor-item span p {
    font-size: 11px;
}
.sponsor-item span h3 {
    font-size: 15px;
 }
   /* Contact section */
.contact-text p {
    font-size: 14px;
 }
 .request-form {
    padding-top: 0px;
}
 /* Partners section */
 #partners .partners-logo {
    padding: 50px;
 }
    /*  Footer */
    .footer h1 {
        font-size: 32px;
       }
       .footer h3{
        font-size: 22px;
    }
     .footer p {
      font-size: 12px;
     }
     .footer a {
      font-size: 12px;
     }
          .footer-text p {
              font-size: 12px;
          }
          .footer .copyright, .footer .credits {
            font-size: 14px;
        }
}

/* mobile or only mobile */

/* Large mobiles */
@media (max-width: 575px) {

    .section-heading, .section-heading2 {
        font-size: 32px;
    }    
    p {
        font-size: 14px;
    }
    #topbar {
        height: 30px;
    }
/* Hero section */
    .hero-section .hero-content {
        text-align: center;
    }
    .hero-content .large-text {
        font-size: 38px;
        text-align: center;
    }
    .hero-content .content-info h3 {
        font-size: 16px;
    }
    .hero-content .medium-text {
        font-size: 16px;
        width: 380px;
        height: 40px;
        margin: 0 auto;
    }
  /* About section */
    .about-info p{
        text-align: justify;
    }
    /* Track section */
    .track-info{
        text-align: center;
    }
    .info-item span h3 {
        font-size: 16px;
    }
    .info-item p {
        font-size: 14px;
        padding: 10px;
    }
     /* Participate section */
     .participate-text{
         padding: 0px 20px;
         text-align: justify;
     }
    .participate-item {
        padding: 10px;
    }
    .participate-item span h3 {
        font-size: 15px;
    }
    .participate-item span p {
        font-size: 13px;
    }
    .participate-img {
        position: relative;
        top: 15px;
        left: 0%;
        width: 90%;
    }
       /* Sponsor section */
       .text-para{
        padding: 0px 20px;
        text-align: justify;
    }
    .sponsor-info .item-box {
        padding: 20px;
        text-align: center;
    }
    .sponsor-info .item-box img{
        width: 80%;
    }
    .sponsor-item img {
        width: 70px;
    }
    .sponsor-item span h3 {
        font-size: 17px;
    }
    .sponsor-item span p {
        font-size: 13px;
    }
    .sponsor-item {
        margin-bottom: 40px;
    }
   /* Contact section */
    .contact-text p {
        font-size: 14px;
    }
 /* Partners section */
    #partners .partners-logo {
        padding: 20px;
        width: 60%;
        margin: 0 auto;
    }
    /* Footer */
    .footer h1 {
        font-size: 32px;
       }
       .footer h3{
        font-size: 22px;
    }
     .footer p {
      font-size: 14px;
     }
     .footer a {
      font-size: 14px;
     }
     .footer-text p {
              font-size: 14px;
     }
}

/* medium and small mobiles */

@media (max-width: 426px) {
    .section-heading, .section-heading2 {
        font-size: 30px;
    }    
    p {
        font-size: 13px;
    }
    .site-mobile-menu {
        width: 230px;
    }
    .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 15px;
        font-size: 16px;
    }
     /* Hero section */
    .hero-content .large-text {
        font-size: 36px;
    }
    .hero-content .content-info h3 {
        font-size: 14px;
    }
    .hero-content .medium-text {
        font-size: 14px;
        width: 340px;
        height: 30px;
    }
 /* Track section */
    .info-item span h3 {
        font-size: 15px;
    }
    .info-item p {
        font-size: 13px;
    }
     /* Participate section */
    .participate-img {
        position: relative;
        top: 15px;
        left: 0%;
        width: 90%;
    }
     /* Sponsor section */
     .sponsor-item span h3 {
        font-size: 15px;
    }
    .sponsor-item span p {
        font-size: 13px;
    }
    .sponsor-item img {
        width: 60px;
    }
     /* Partners section */
    #partners .partners-logo {
        height: 140px;
    }
 /* Contact section */
    .contact-text p {
        font-size: 13px;
    }

}

@media (max-width: 376px) {
    .section-heading, .section-heading2 {
        font-size: 28px;
    }    
    p {
        font-size: 12px;
    }
    /* Hero section */

    .hero-section{
        min-height: 650px;
    }
    .hero-content .large-text {
        font-size: 32px;
    }
    .hero-content .content-info h3 {
        font-size: 12px;
    }
    .hero-content .medium-text {
        font-size: 12px;
        width: 300px;
        height: 28px;
    }
      /* Track section */
    .info-item span h3 {
        font-size: 14px;
    }
    .info-item p {
        font-size: 12px;
    }
      /* Participate section */
    .participate-item span h3 {
        font-size: 14px;
    }
    .participate-item span p {
        font-size: 12px;
    }
    .participate-img {
        position: relative;
        top: 15px;
        left: 0%;
        width: 90%;
    }
  /* Button */
    .btn {
        width: 140px;
    }
    .btn.btn-primary {
        font-size: 18px;
    }
/* Sponsor Section */
    .sponsor-info .item-box {
        padding: 10px;
    }
    .sponsor-item span h3 {
        font-size: 14px;
    }
    .sponsor-item span p {
        font-size: 12px;
    }
    /* Contact */
    .contact-text p {
        font-size: 12px;
    }
     /* Partners */
    #partners .partners-logo {
        padding: 10px;
        width: 60%;
        height: 120px;
    }
     /* Footer */
    .footer h1 {
        font-size: 30px;
    }
    .footer p {
        font-size: 12px;
    }
    .footer a {
        font-size: 12px;
    }
    .footer h3 {
        font-size: 20px;
    }
    .footer .copyright, .footer .credits {
        font-size: 12px;
    }
}

@media (max-width: 322px) {
    .section-heading, .section-heading2 {
        font-size: 26px;
    }    
    p {
        font-size: 11px;
    }
    .hero-content .large-text {
        font-size: 30px;
    }
    .hero-content .content-info h3 {
        font-size: 11px;
    }
    .hero-content .medium-text {
        font-size: 11px;
        width: 260px;
        height: 25px;
    }
      /* Button */
    .btn {
        width: 120px;
    }
    .btn.btn-primary {
        font-size: 16px;
    }

  /* Sponsor Section */
    .sponsor-item img {
        width: 50px;
    }
      /* Contact */
    .contact-text p {
        font-size: 11px;
    }
      /* Partners */
    #partners .partners-logo {
        padding: 0px;
        width: 50%;
        height: 120px;
    }
         /* Footer */
         .footer h1 {
            font-size: 28px;
        }
        .footer p {
            font-size: 12px;
        }
        .footer a {
            font-size: 12px;
        }
        .footer h3 {
            font-size: 18px;
        }   
}